<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <h1 class="text-center mb-5">Selamat Datang</h1>

  <div class="container">
    <% if (messages.error) { %>
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong>
        <br>
        <%- messages.error %>
      </div>
    <% } %>
    <% if (messages.success) { %>
          <div class="alert alert-success alert-dismissible ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> <br> <%- messages.success %>
          </div>
    <% } %>
    <a href="/mahasiswa/tambah" class="btn btn-primary float-start mb-2">Tambah</a>
    <table class="table table-secondary table-hover  mb-5">
      <thead class="table-dark text-center">
        <tr>
          <th>No</th>
          <th>Nim</th>
          <th width="25%">Nama</th>
          <th>Stambuk</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%  var no = 0 %>
          <% datas.forEach((data)=>{ %>
            <% no++ %>
            <tr class="text-center">
              <td><%= no %></td>
              <td><%= data.nim %></td>
              <td class="text-start"><%= data.nama %></td>
              <td><%= data.stambuk %></td>
              <td>
                  <a href="/mahasiswa/ubah/<%= data.nim %>" class="btn btn-warning">Ubah</a> | 
                  <a href="/mahasiswa/<%= data.nim %>?_method=DELETE" class="btn btn-danger"
                    onclick="return confirm('Yakin Ingin Menghapus?')">Hapus</a>
              </td>
            </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>